.container-fluid
{
    height: auto;
    margin: auto;
}
@media(min-width:768px)
{
    .col-md-12
    {
        margin: auto;
        margin-top: 60px;
        margin-bottom: 60px;
        width: 1200px;
        background-color: grey;
    }
}
@media(min-width:576px) and (max-width:767px)
{
    .col-sm-12
    {
        margin: auto;
        margin-top: 40px;
        margin-bottom: 40px;
        width: 800px;
        background-color: grey;
    }
}
@media(max-width:575px)
{
    .col-xs-12
    {
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 400px;
        background-color: grey;
    }
}
div p
{
    margin: 20px;
    margin-bottom: 20px;
    color: black;
}
.navbar-brand
{
    font-weight: bolder;
    margin: 10px 30px;
    font-size: 25px;
}
.navbar-light
{
    padding: 0px;
    background-color: grey;
    border: 2px solid black;
}
@media (min-width:576px)
{
    .visible-xs
    {
        visibility: hidden;
    }
    .navbar-nav
    {
        visibility: hidden;
    }
}
@media(max-width:576px)
{
    .navbar-toggler-icon:active,.navbar-toggler-icon:visited,.navbar-toggler-icon:focus,.navbar-toggler-icon:hover
    {
        border: 2px solid white;
    }
    .navbar-toggler-icon
    {
        border: 2px solid black;
    }
    .navbar-toggler
    {
        margin: 20px;
        height: 50px;
        border-color: grey !important;
    }
    button:focus
    {
        outline: none;
    }
    .navbar-nav
    {
        /* text-align: center; */
        background-color: white;
        margin-top: 10px;
        border: 1px solid black;
    }
    .nav-item
    {
        width: 100%;
        font-weight: 500;
        color: black;
        border: 1px solid black;
    }
}
.navbar-toggler-icon
{
    height: 45px;
    padding: 20px;
    border-radius: 4px;
    border: 2px solid black;
}
.nav-link
{
    color: black !important;
}